<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
    {{template "navbar"}}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">
                    article name
                </h1>
                <h2>
                    Asbtract 
                </h2>
                <p>
                    abstract
                </p>
                <h2>
                    Text
                </h2>
                <p>
                    text
                </p>
            </div>
            <div class="col-md-4">
                {{template "sidebararticle"}}
            </div>
        </div>
    </div>

    {{template "footer"}}
    {{template "bootstrapjs"}}
</body>
</html>