{{define "sidebar_user"}}
<div class="card my-4">
    <h5 class="card-header">Department</h5>
    <div class="card-body">
        {{.Dept}}
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Prefer tags</h5>
    <div class="card-body">
        {{.PreferTags}}
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Phone</h5>
    <div class="card-body">
        {{.Phone}}
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Actions</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#">Modify</a>
                    </li>
                    <li>
                        <a href="#">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Language</h5>
    <div class="card-body">
        {{.Language}}
    </div>
</div>
{{end}}