{{define "info_table"}}
<table style="margin-top: 3rem;" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
        </tr>
    </thead>
    <tbody>
        {{range $i, $var := .}}
            <tr>
                <th scope="row">{{$i}}</th>
                <td>{{.Name}}</td>
                <td><a href="{{.URL}}" target="_blank">{{.URL}}</a></td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}