<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<body>
    {{template "navbar" .}}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">
                    Welcome on Tagenal
                </h1>
                <h3 class="my-4">
                    Tagenal's services status
                </h3>
                {{template "info_table" .srvinfos}}
                <a href="/status">See more</a>
            </div>
            <div class="col-md-4">
                {{template "sidebarhome"}}
            </div>
        </div>
    </div>

    {{template "footer"}}
    {{template "bootstrapjs"}}
</body>
</html>