{{define "sidebarhome"}}
<div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
            </span>
        </div>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Articles</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="http://tagenal/articles/category/science">Stored in Beijing</a>
                    </li>
                    <li>
                        <a href="http://tagenal/articles/category/technology">Stored in Hong Kong</a>
                    </li>
                    <li>
                        <a href="http://tagenal/articles/category/science">Science</a>
                    </li>
                    <li>
                        <a href="http://tagenal/articles/category/technology">Technology</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Users</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="http://tagenal/users/region/Beijing">Beijing</a>
                    </li>
                    <li>
                        <a href="http://tagenal/users/region/Hong Kong">Hong Kong</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="card my-4">
    <h5 class="card-header">Side Widget</h5>
    <div class="card-body">
        Tagenal awesome
    </div>
</div>
{{end}}